/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

#home-page{
    display: flex;     
    margin: 0 auto;   
    flex-wrap: wrap;
    justify-content: center;
    max-width: 343px;
}

.home-page-header{    
    & > h1{
        font-size: 32px;
        line-height: 40px;          
        margin-top: 0;  
        margin-bottom: 16px;
    }

    & > p{         
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 24px;
    }
    
}


.cards-container{
    display: grid;
    gap: 16px;
}

.card{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 16px;



    &__icon{
        background: #373155;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px;

        & > img{
            width: 28px;
        }
    }

    &__title{
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
    }

    &__content{
        margin: 0;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        text-align: center;
        opacity: 0.5;
    }
}



@media (min-width: 600px){
    #home-page{        
        max-width: 496px;
    }


    .cards-container{        
        row-gap: 31px;
        column-gap: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }   

    .home-page-header{    
        & > h1{
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 16px;       
        }

        & > p{
            margin-bottom: 24px;
        }
    }

    .card{
        padding: 20px 17px 20px 14px;

        &__icon{            
            padding: 14px;
    
            & > img{
                width: 28px;
            }
        }

        &__content{
            font-size: 14px;
        }
    }

    .cards-container{   
        gap: 16px;
    }
}

@media (min-width: 1000px){
    #home-page{
        flex-direction: row;
        gap: 109px;
        flex-wrap: nowrap;
        max-width: 90%;
    }

    .card{
        padding: 24px 16px;

        &__icon{
            padding: 16px;

            & > img{
                width: 32px;
            }
        }

        &__content{
            font-size: 16px;
            line-height: 24px;
        }
    }
      
    .cards-container{        
        row-gap: 31px;
        row-gap: 31px;
        column-gap: 24px;        
        column-gap: 24px;        
    }    

    .home-page-header{
        max-width: 41%;
        &>h1{
            margin-bottom: 24px;
            font-size: 48px;
            line-height: 56px;
            font-weight: 500;
        }
    }    
}

@media (min-width: 1440px){
    #home-page{
        max-width: 1136px;
    }
}