/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

@import './card';

#home-page{
    display: flex;   
    flex-wrap: wrap;
    margin: min(5%);
    justify-content: center;
    max-width: 343px;

    & &__header{    
        & > h1{
            font-size: 32px;
            line-height: 40px;          
            margin-top: 0;  
            margin-bottom: 16px;
        }
    
        & > p{         
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            margin-bottom: 24px;
        }    
    }

    & &__cards-container{
        display: grid;
        gap: 16px;
    }
}



@media (min-width: 600px){
    #home-page{        
        max-width: 496px;
        & &__cards-container{        
            row-gap: 31px;
            column-gap: 24px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 16px;
        }   

        & &__header{    
            & > h1{
                font-size: 48px;
                line-height: 56px;
                margin-bottom: 16px;       
            }
    
            & > p{
                margin-bottom: 24px;
            }
        }
    }
}

@media (min-width: 1000px){
    #home-page{
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 1136px;
        gap: min(7vw, 109px);
        

        & &__cards-container{        
            flex-basis: 560px; 
            flex-grow: 0;
            flex-shrink: 0;  
            row-gap: 31px;       
            column-gap: 24px;        
        }  
        
        & &__header{
            &>h1{
                margin-bottom: 24px;
                font-size: 48px;
                line-height: 56px;
                font-weight: 500;
            }
        }
    }
}
